<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<h1 th:text="${title}">Defaulted on Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <input type="text" name="cheeseName" />
    <p>And how does that taste, smell, sound, and feel rubbed on the soles of your feet?</p>
    <textarea name="cheeseFlavor" cols="20" rows="5"></textarea>
    <input type="submit" value="Say Cheese!" />

</form>
</body>
</html>