<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Some default shit, Dude!</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${cheeses} and ${cheeses.size()}">no cheeses, Jesus</p>




    <!--<li th:each="cheese: ${cheeses}" th:text="${cheese.key + ' : ' + cheese.value}"></li>-->
    <tr th:each="cheese : ${cheeses}">

        <ul>

            <li th:text="${cheese.name}"></li> <a th:href="@{'/cheese/edit/' + ${cheese.cheeseId}}">edit</a>
            <ul><li th:text="|has been described as ''${cheese.description}''|"></li>
            <li th:text="| and is of the ${cheese.type.name} variety.|"></li></ul>
            <p th:unless="${cheese.description}">no description given</p>
            <!--<ul><li th:text="'has been described as :: ' + &ldquo + ${cheese.value} + &rdquo"></li></ul>-->
            <!--TODO get double quotes within Thymeleaf string-->
            <input type="hidden" th:value="${cheese.cheeseId}" name="cheeseId" />
        </ul>
    </tr>

</body>
</html>