<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Some default shit, Dude!</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${cheeses} and ${cheeses.size()}">no cheeses, Jesus</p>




    <!--<li th:each="cheese: ${cheeses}" th:text="${cheese.key + ' : ' + cheese.value}"></li>-->
    <tr th:each="cheese : ${cheeses}">

        <ul>
            <li th:text="${cheese.key}"></li>
            <ul><li th:text="'has been described as ' + ${cheese.value}"></li></ul>
            <p th:unless="${cheese.value}">no description given</p>
            <!--<ul><li th:text="'has been described as :: ' + &ldquo + ${cheese.value} + &rdquo"></li></ul>-->
            <!--TODO get double quotes within Thymeleaf string-->
        </ul>
    </tr>

</body>
</html>