<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>(L)User</title>
</head>


<body>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${users} and ${users.size()}">No one is signed up</p>

<!--<p th:unless="${newUser}">No user added!!!!!!</p>-->
<p th:unless="${session}">No current user!!</p>
<!--TODO not sure if this was the solution looked for but session made sense to me-->
<h1 th:text="|hello ${session.username}">hi</h1>
<!--TODO figure out why username still in session after reboot-->
<!--<h1 th:text="${newUser}">okay</h1>-->
<!--<h1 th:text="|Hello ${user.username}|">Hello</h1>-->
<p>Here's the list your friends and yourself:</p>
<ul th:each="person : ${users}">
<li th:text="${person.username}">friends </li>
</ul>
</body>
</html>